<div class="row h-90 justify-content-center align-items-center">
  <div class="card text-white mb-3 ">
    <h4 class="card-header text-center">
      Seleccione su Reporte
    </h4>
    <div class="card-footer text-center mb-2">
      <button bmbButton appearance="primary" icon="home" size="small" position="left" [case]="false"
        isToggleActive="false" enableButtonToggle="false" (click)="gotoCurrentReport()">
        Actual
      </button>
      <button bmbButton appearance="primary" icon="home" size="small" position="left" [case]="false"
        isToggleActive="false" enableButtonToggle="false" (click)="gotoArchiveReport()">
        Historico
      </button>
    </div>
  </div>
</div>